<%= form_with(model: property) do |form| %>
<%= render "layouts/validations" , item: @property %>
<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , class:"form-control" %>
</div>

<div class="field">
    <%= form.label :address %>
    <%= form.text_field :address , class:"form-control"%>
</div>

<div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms , class:"form-control"%>
</div>

<div class="field">
    <%= form.label :bathroom %>
    <%= form.number_field :bathroom, class:"form-control" %>
</div>

<div class="field">
    <%= form.label :price %>
    <%= form.number_field :price , class:"form-control" %>
</div>

<div class="field">
    <%= form.label :photo %>
    <%= form.photo :price , class:"form-control" %>
    <%form.hidden_field :photo_cache%>
</div>

<div class="actions text-center mt-5">
    <%= form.submit "Submit" , class:"btn btn-lg btn-success"%>
</div>
<% end %>