<div class="container pt-5">
    <p id="notice"><%= notice %></p>

    <p class="form-control">
        <strong>Name:</strong>
        <%= @property.name %>
    </p>

    <p class="form-control">
        <strong>Address:</strong>
        <%= @property.address %>
    </p>

    <p class="form-control">
        <strong>Rooms:</strong>
        <%= @property.rooms %>
    </p>

    <p class="form-control">
        <strong>Bathroom:</strong>
        <%= @property.bathroom %>
    </p>

    <p class="form-control">
        <strong>Price:</strong>
        <%= @property.price %>
    </p>
    <div class="col text-right">
        <%= link_to 'Back', properties_path ,  class: "btn btn-lg  btn-secondary", style: "color: white"%>
    </div>
</div>