<%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-signin") do |f| %>
<div class="container">
    <div class="row  mt-100">
        <div class="col-lg-12">
            <h1 class="h3 mb-3 font-weight-normal text-center">Login in</h1>
            <div class="col mb-4">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" , placeholder: "enter email"%>
            </div>
            <div class="col mb-4">
                <%= f.password_field :password, autocomplete: "current-password" , class: "form-control", placeholder: "enter password"%>
            </div>
            <div class="col checkbox mb-3">
                <% if devise_mapping.rememberable? %>
                <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
                <% end %>
            </div>
            <div class="col mb-50">
                <%= f.submit "Log in" , class: "btn btn-lg btn-primary btn-block"%>
            </div>
            <div class="col text-center">
                <%#= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
<% end %>